.backgroundimage {
    display: block;
    max-width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Ensure content like Card remains unaffected */
  }
  
.backgroundimage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Keep the background behind content */
    background: 
      radial-gradient(
        circle, 
        rgba(250, 242, 242, 0) 0%,   /* Fully transparent at the center */
        rgba(119, 115, 115, 0.5) 50%, /* Semi-transparent gray in the middle */
        rgba(9, 9, 9, 0.9) 100% /* Almost fully dark at the edges */
      ),
      url('./../../assets/br1.jpg') center center/cover no-repeat;
    filter: blur(1.5px); /* Apply blur effect to the image */
}
  
  .backgroundimage > * {
    position: relative;
    z-index: 1; /* Ensure child elements like Card are on top of the background */
  }